{{define "header"}}
<!DOCTYPE html>
<html lang=eng-US>
    <head>
        <title>Go CRUD with Mysql !! </title>
        <meta charset="utf-8" />
        
    </head>
    <body>
        <h1>Go CRUD with Mysql !!</h1>
{{end}}    

